{% extends 'base.html.twig' %}

{% block stylesheets %}    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block title %}Hello AcController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="">
    <h1> Liste des Acs
    
    </h1>
<div class="container mt-5 ml-5">

<table class="table table-bordeless">
        <tr class="bg-info">
            <th>N°</th>
            <th>Nom Complet</th>
            <th>email</th>
            <th class="text-center">parametre</th>

        </tr>
         {% set i = 0 %}

                {% for ac in acs %}
                <tr>
                <td>{% set i = i + 1 %} {{ i }}</td>
                <td>{{ac.nomComplet}}</td>
                <td>{{ac.email}}</td>
                <td  class="text-center">
                <button class="btn btn-outline-primary btn-sm">Détails</button>
                <button class="btn btn-warning btn-sm">Modifier</button>
                <button class="btn btn-danger btn-sm">Supprimer</button>
            </td>
                </tr>
                    
                {% endfor %}
        
            
          
    </table>

</div>


</div>
<div class="navigation">
{{knp_pagination_render(acs)}}
</div>
{% endblock %}
