{% extends 'base.html.twig' %}
{% block title %}Etudiants{% endblock %}
{% block body %}
    <div class="container mt-5 ml-5 col-6 bg-primary d-flex  p-5">
           {{form_start(form) }}
           {{form_row(formm)}}
                 <button type="submit" class="btn btn-success">
                    Ajouter
                </button> 
            {{form_end(form) }}
    </div>
{% endblock %}
